* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #392f5a;
}

.quotes {
  color: #fff8f0;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__author {
    font-size: 3rem;
  }

  &__quote {
    font-size: 1.6rem;
    font-style: italic;
  }

  &__btn {
    border-radius: 0.7rem;
    border: none;
    padding: 1.2rem;
    background-color: #fff8f03d;
    color: #fff8f0;
    transition: ease-in-out 0.8s;
    position: absolute;
    top: 3rem;
    right: 1rem;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:active {
    background-color: #fff8f0;
    color: black;
  }
}

.loading {
  font-size: 3rem;
}
